* {
  font-family: Monaco, monospace;
}

/*  NAV BAR */

.navBar {
  width: -webkit-fill-available;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1b1e2425;
}

.navBar a{
  color: white;
}

/* INSTRUCTIONS PAGE STYLES */

.indexBody#instructions{
  height: 100%;
}

.pageContainer#instructions {
  height: 100%;
  gap: 40px;
}

.instructions {
  display: grid;
  gap: 25px;
  grid-template: repeat(5, 1fr) / 1fr 500px;
  justify-items: center;
}

.instructions img{
  height: 300px;
}


/* LOG IN PAGE STYLES */

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
    justify-content: center;
}

.titleIntro {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.loginContainer{
  display: grid;
  grid-template: 1fr 3fr / 1fr 0.5fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 950px;
  width: 100%;
  border: 5px dashed;
  padding: 20px;
}

.loginContainer h1{
  margin-block: 10px;
}

.userForm {
  display: flex;
  flex-direction: column;
  height: 245px;
  justify-content: space-around;
  align-items: stretch;
  margin: 10px;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s;
}

.userForm #registerForm{
  height: 200px;
}

.userForm p, .userForm div {
  margin: 5px;
  display: flex;
  align-items: center;
}

.loginbuttons{
  font-size: 2em;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* images */

#cleaner{
  height: 270px;
}

#nameImg, #passImg, #emailImg, #parttimeImg, #fulltimeImg{
  height: 35px;
  margin-left: 10px;
}

/* SCOREBOARD PAGE STYLES*/

.scoreBoardTable {
  padding: 0 200px;
  width: 600px;
  height: 700px;
  background-color: white;
  border: 5px dashed black;
  display: grid;
  grid-template: repeat(10, 1fr) / 10fr 1fr;
}

.title {
  color: white;
  text-decoration: underline;
}

/* GAME PAGE STYLES */

.indexBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  background-color: #282c34;
  flex-direction: column;
  max-width: 1600px;
}

/* game container */

.gameDiv {
  position: relative;
  width: 1600px;
  height: 900px;
  background-color: #335c40;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  border: 2px solid black;
}

/* top part of the game container, player and enemy display */

.top_bit {
    display: flex;
    font-size: x-large;
    color: white;
    width: 100%;
    height: 650px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../src/images/Assets/rooms/BLURRED/Assets-29.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


.stats {
  width: 100%;
  height: 97%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
}


.enemies {
  width: 75%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#enemy {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  gap: 30px;
}

#enemy p{
  margin: 0px;
}

.nextMove {
  color: red;
}

.enemy_div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.health_Row {
      display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.health_Bar{
  width: 200px;
  height: 28px;
  border-radius: 10px;
  border: black 1px solid;
}

.health_Info {
  width: inherit;
  position: absolute;
  z-index: 2;
  text-align: center;
}


.health_Bar_Container{
  height: 30px;
  width: 202px;
}

.green{
  background-color: green;
  position: relative;
  top: -30px;
}
.red{
  background-color: red;
  position: relative;
  top: 0;
}

#player_stats {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#playerImg {
  height: 490px;
}

#playerWinImg{
  display: none;
  height: 490px;
}

#playerLossingImg{
  display: none;
  height: 490px;
}

#player_stats p{
  margin: 0px;
}

.logs {
  display: flex;
  align-items: center;
  height: 3%;
  position: absolute;
  top: 65%;
}

#itemRewardLog {
  display: none;
  font-size:40px;
  width:100%;
  padding-top:20px
}

#cardRewardLog {
  display: none;
  font-size:40px;
  width:100%;
  padding-top:20px
}

#card_Reward_Visual {
  margin-top: 20px;
  color: black;
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


#upgradeCardVisual{
  display: grid;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.upgradeText {
  grid-column: 1 / 5;

}

.type_button{
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* Bottom part of the game container, info, map and cards */

.bottomConsole {
  display: flex;
  flex-direction: row;
  height: 27.5%;
  width: 100%;
  background-color: #5C4033;
  border: solid;
}

#hand_container {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  background-color: #5C4033;
  width: 75%;
  border-style: solid;
}

#info {
  display: flex;
  width: 12.5%;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  background-color: #5C4033;
  justify-content: space-evenly;
}

#card_back {
  border-radius: 10px;
}

#endButton {
  height: 20%;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

#deck {
  cursor: pointer;
  background-color: #5C4033;
  margin: 10px;
  padding: 10px;
}

#discard {
  cursor: pointer;
  background-color: #5C4033;
  margin: 10px;
  padding: 10px;
}

/* CARDS STYLES */

/*I'm trying to have every container child size value be in % because
  I don't know how big the cards will end up being */

  .card_container {
    display: flex;
    flex-direction: column;
    padding: 0.4%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-width: thick;
    border-color: black;
    font-size: 10px;
    width: 180px; 
    height: 260px;
    box-sizing: border-box;
    cursor: pointer;
}

.card_container.attack {
    background-color: darkred;
}
.card_container.defense {
    background-color: darkgreen;
}
.card_container.charger {
    background-color: rgb(37, 37, 148);
    font-size: 9px;
}

.card_container.draw {
    background-color: rgb(73, 25, 117);
    font-size: 9px;

}

.name_symbol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: underline;
    margin: 0px 1% 0px 1%;
    height: 10%;
}

.img {
    border: solid;
    height: 65%;
    width: 96%;
}

.effect_energy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cornsilk;
    border-radius: 10px;
    border-style: solid;
    margin: 2% 0px 2% 0px;
    height: 6.6%;

}

.legend_box {
    height: 40%;
    background-color: cornsilk;
    border-radius: 10px;
    border-style: solid;

}

.text {
    margin: 5% 0px 0px 5%;
    font-style: oblique;
}

.card_container:hover {
    transform: scale(1.1);
}

@keyframes glow {
    50% {border-color: yellow;} /* Use keframes to get the glowing animation instead of just changing the border color*/
}

/* MAP STYLES */

#tiles_over_map {
  display: flex;
  position: relative;
}

#map_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
  
.tile {
  position: absolute;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  border: 2px solid transparent;
  text-align: center;
  cursor: pointer;
}

/* had to do polygons for two of the tiles */
#tile_0 {
  width: 110px;
  height: 125px;
  bottom: 0;
  left: 0;
  margin: 0;
  clip-path: polygon(
    0% 0%,
    65% 0%, 
    65% 60%, 
    100% 60%, 
    100% 100%, 
    0% 100%
    );

}

#tile_0 h2{
  position: absolute;
    top: 50%;
    left: 20%;
}


#tile_1 {
  width: 200px;
  height: 180px;
  bottom: 0px;
  left: 0px;
  margin: 0;
  background-color: transparent; 
  clip-path: polygon(
    0% 0%,
    55% 0%,
    55% 28%,
    100% 28%,
    100% 100%,
    55% 100%,
    55% 70%,
    37% 70%,
    37% 30%,
    0% 30%
  );
}

#tile_1 h2{
  position: absolute;
    top: 40%;
    left: 48%;
}

#tile_2 {
  width: 110px;
  height: 60px;
  top: 0;
  left: 0;
  margin: 0;
}

#tile_3 {
  width: 80px;
  height: 110px;
  top: 0;
  right: 0;
  margin: 0;
}
