* {
  font-family: Monaco, monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
}

.gameDiv {
  width: 1700px;
  height: 1200px;
  background-color: #335c40;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
}

.top_bit {
    display: flex;
    font-size: x-large;
    color: white;
    width: 100%;
    height: 77.5%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../src/images/Background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}


.stats {
  width: 100%;
  height: 97%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
}

/* .models {
  display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
} */

.enemies {
  width: 75%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#enemy {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
}

#enemy p{
  margin: 0px;
}

.enemy_div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


#player_stats {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#player_stats p{
  margin: 0px;
}

.bottomConsole {
  display: flex;
  flex-direction: row;
  height: 23.5%;
  width: 100%;
  background-color: #5C4033;
  border: solid;
}

#hand_container {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(19, 31, 65); */
  background-color: #5C4033;
  width: 75%;
  border-style: solid;
}

#info {
  display: flex;
  width: 12.5%;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  background-color: #5C4033;
  justify-content: space-evenly;
}

#card_back {
  border-radius: 10px;
}

#endButton {
  height: 20%;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

#deck {
  cursor: pointer;
  background-color: #5C4033;
  margin: 10px;
  padding: 10px;
}

#discard {
  cursor: pointer;
  background-color: #5C4033;
  margin: 10px;
  padding: 10px;
}


#card_back {
  width: 12.5%;
}
