/*I'm trying to have every container child size value be in % because
  I don't know how big the cards will end up being */

.card_container {
    display: flex;
    flex-direction: column;
    padding: 0.4%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-width: thick;
    border-color: black;
    font: 10px Arial, sans-serif;
    width: 180px; 
    height: 270px;
    box-sizing: border-box;
    cursor: pointer;
}

.card_container.attack {
    background-color: darkred;
}
.card_container.defense {
    background-color: darkgreen;
}
.card_container.charger {
    background-color: rgb(37, 37, 148);
    font-size: 9px;
}

.name_symbol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: underline;
    margin: 0px 1% 0px 1%;
    height: 10%;
}

.img {
    border: solid;
    height: 65%;
    width: 96%;
}

.effect_energy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cornsilk;
    border-radius: 10px;
    border-style: solid;
    margin: 2% 0px 2% 0px;
    height: 6.6%;

}

.legend_box {
    height: 40%;
    background-color: cornsilk;
    border-radius: 10px;
    border-style: solid;

}

.text {
    margin: 5% 0px 0px 5%;
    font-style: oblique;
}

.card_container:hover {
    transform: scale(1.1);
}

@keyframes glow {
    50% {border-color: yellow;} /* Use keframes to get the glowing animation instead of just changing the border color*/
    /* 40%, 80% {border-color: black;} */
}

