#map_container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: -110px;
}
  
.tile {
  width: 80px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  border: 2px solid black;
  text-align: center;
  background-color: lightgray;
  cursor: pointer;
}
